@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Salsa&display=swap');

.home .carousel-item{
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
}
.home .carousel-item:before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.199);
	z-index: -1;
}

.home .carousel-selector{
	background-position: center;
	background-size: cover;
	position: relative;
}

.home .carousel-item .container{
	position: absolute;
	left:100px;
	top:50%;
	width: 700px;
	transform: translate(0,-50%);
	font: system-ui;
	text-align: left;
	margin-bottom: 50px;
}
.home .carousel-item h2{
	font-family: salsa;
	font-size: 64px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home .carousel-item h1{
	font-family: salsa;
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 30px;
	opacity: 0;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home .carousel-item a{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 30px;
	border: white;
	cursor: pointer;
}
.home .carousel-item p{
	font-size: 20px;
	margin:0;
	color: #eeeeee;
	opacity:0;
	margin-bottom: 25px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.home .carousel-item.active h2{
	animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active h1{
	animation: fadeInRight 0.5s ease forwards;
}
.home .carousel-item.active p{
	animation: fadeInRight 0.5s ease forwards;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
  }

  .nav-header {
	width: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0); 
	z-index: 1000;
  }

  .carousel-inner {
	position: relative;
	z-index: 0; 
  }

.container-fluid h1 {
	position: absolute;
	left: 3%;
	top: 25%;
	font-family: salsa;
	font-size: 24px;
	color: #ffffff;
}

.container-fluid .logo {
	font-family: salsa;
	color: #ffffff;
	display: flex; /* Use flexbox for centering */
  	justify-content: center; /* Center the content horizontally */
  	align-items: center; 
	top: 50%;
	margin-top: 17px;
}
.container-fluid .logo1 {
	font-family: salsa;
	font-size: 12px;
	color: #ffffff;
	display: flex; /* Use flexbox for centering */
  	justify-content: center; /* Center the content horizontally */
  	align-items: center; 
	left: 50%;
	top: 20%;
	margin-top: -6px;
}
.container-fluid button{
	position: absolute;
	font-family: sans-serif;
	color: #ffffff;
	background-color: transparent;
	border: transparent;
	font-size: 14px;
	left: 93%;
	top: 25%;
}

@keyframes fadeInLeft{
	0%{
		opacity: 0;
		transform: translateX(-30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes fadeInRight{
	0%{
		opacity: 0;
		transform: translateX(30px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

.home .carousel-controls{
	position: absolute;
	left: 55%;
	top: 50%;
}

.home .carousel-indicators{
	position: relative;
	margin:0;
}

.home .carousel-indicators li{
	height: 300px; 	
	width: 200px;
	position: absolute;
	border-radius: 5%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.329);
	background-size: cover;
	transition: .5s;
}

.home .carousel-indicators li:nth-child(1){
	left: 50%
}

.home .carousel-indicators li:nth-child(2){
	left: calc(50% + 250px)
}

.home .carousel-indicators li:nth-child(3){
	left: calc(50% + 500px)
}

.home .carousel-indicators li.active{
	border-color: transparent;
	border-radius: 5%;
	border-style: solid;
	transform: scale(1.1);
}

/*marindduque*/


body{
    background: url('https://i.ibb.co/fvDfF8t/background.png');
    background-size: cover;
    background-repeat: no-repeat;
	font-family: 'Poppins', sans-serif;
    background-position: top center;
}


.header{
  position:relative;
}

.header-inner{
  position:absolute;
  top:0px;
  width:100%;
  z-index:99;
  background-color:transparent;
}

.nav-item .nav-link{
    display: block;
    line-height: 36px;
	text-transform:capitalize;
    font-size: 16px;
	font-weight:400;
    color:#fff;
    transition: 0.15s;
}

.navbar-brand {
    color: #fff;
    font-weight: 800;
    position: relative;
    font-size:29px;
}

.navbar-brand:hover{
 color: #fff;
}

.form-inline a:first-child{
  display: block;
    padding: 9px 18px;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.18px;
    line-height: 17px;
    border-radius: 50px;
    background: #249af2;
    cursor: pointer;
    color: #f4f4f4;
}


.search-btn {
 width:35px;
 height:35px;
 line-height:35px;
 margin:0px 0px 0px 15px;
 border-radius:50%;
 cursor:pointer;
 text-align:center;
 background-color:#6c757de6;
}

.search-btn i{
      color: #ffffff;
	  font-size:14px;
}


.section-container-items{
  padding:100px 0px 0px 0px;
}


span, i, button, a{
    text-decoration: none;
    outline: none;
}

.section a{
    display: inline-block;
}

.section h1{
    font-size: 68px;
    font-weight: 600;
    text-transform: capitalize;
	font-family: salsa;
    color: #f4f4f4;
    letter-spacing: -0.21px;
    line-height: 90px;
    margin: 0; padding: 0;
}

.section h3{
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.30px;
	padding: 0;
    margin-top: 8px;
    margin-left: 2px;
    color: #fff;
    opacity: 0.7;
}

.section button{
    margin-top: 30px;
    display: block;
    padding: 15px 24px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.18px;
    line-height: 17px;
    border-radius: 50px;
    background: #249af2;
    border: none;
    cursor: pointer;
    color: #f4f4f4;
    transition: all 250ms ease-in-out;
}


.section button i{
    font-size: 14px;
    margin-right: 8px;
}

.section button span{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.20px;
    margin-left: 3px;
}

.look {
    color: #05cc47;
    font-size: 3.7em;
    transform: rotate(90deg);
}


.alta-title{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.7;
    z-index: 1;
    position: absolute;
    right: 0; 
	transform: rotate(90deg) translateY(-60px);
}

.alta img {
    width:100%;
    height: auto;
}





@media  only screen and (min-width:1200px){
.nav-item > .nav-link{
   padding:5px 20px!important;
   display:block;
}
}

@media  only screen and (max-width:992px){
.header-inner{
  background-color:white;
  width:100%!important;
}
 .nav-item .nav-link {
  color:black;
}

.section h1{
    font-size:40px!important;
    line-height:55px!important;
}

.navbar-brand{
    color: #000!important;
	font-weight:600;
}

.content-banner .first-title {
    font-size: 30px;
}
}
@media  only screen and (max-width:576px){
.search-model-form input {
    width: 257px!important;
    font-size: 20px!important;
    border: none;
    border-bottom: 2px solid #333;
    background: none;
    color: #999;
}
}

/*responsive*/
@media(max-width: 1080px){
  .home .carousel-item h2{
  	font-size: 45px;
  }
  .home .carousel-item p{
  	font-size: 22px;
  }
  .home .carousel-controls{
	display: flex;
	align-items: center;
	justify-content: center;
	left: 15%;
	top: 60%;
  }
  .home .carousel-item .container{
	position: absolute;
	top:30%;
	font: system-ui;
	text-align: left;
	margin-bottom: 50px;
}
.home .carousel-item h2{
	font-family: salsa;
	font-size: 64px;
	color: #ffffff;
	margin:0 0 10px;
	opacity: 0;
	text-align: center;

}

.home .carousel-item h1{
	font-family: salsa;
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 30px;
	opacity: 0;
	text-align: center;

}

.home .carousel-item a{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 30px;
	border: white;

}
.home .carousel-item p{
	font-size: 20px;
	margin:0;
	color: #eeeeee;
	opacity:0;
	margin-bottom: 25px;
	text-align: center;
}
}



